<!-- 引入Material Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=pets" />

  <div class="container my-32 ">
    <!-- logo -->
    <a class="navbar-brand" href="#">
        <img src="../assets/images/logo.svg" alt="logo" >
    </a>
    <!-- 選單內容 -->
      <ul class="navbar-nav">
        <!-- 膳食探索 -->
        <li class="nav-item me-40">
          <a class="nav-link" href="#">
            膳食探索
          </a>
        </li>
        <!-- 喵皇學堂 -->
        <li class="nav-item me-40">
          <a class="nav-link" href="#">
            喵皇學堂
          </a>
        </li>
        <!-- 我要投稿 -->
        <li class="nav-item  me-40">
          <a class="nav-link" href="#">
            我要投稿
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">
            會員中心
          </a>
        </li>
      </ul>
</nav>
<!-- 版權 -->
<div class="text-center text-sm my-32">
    <p class="neutral-600">本作品為專題製作使用，所有內容均受版權法保護</p>
    <p class="neutral-600">未經作者書面許可，禁止任何形式的複製、修改、發佈或商業使用</p>
    <p class="neutral-600">若需使用，請聯繫作者取得授權。感謝您的理解與尊重</p>
  </div>