$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);

//

.Noto {
  font-family: "Noto Sans TC", sans-serif;
}

.Cactus {
  font-family: "Cactus Classical Serif", serif;
}

.border-radius-xxs {
  border-radius: 8px;
}

.border-radius-xs {
  border-radius: 12px;
}

.rounded-xxs {
  border-radius: 8px;
}

.rounded-xs {
  border-radius: 12px;
}

.rounded-4 {
  border-radius: 48px;
}

.rounded-5 {
  border-radius: 200px;
}
