:root {
  --secondary-300: #DCC9A8;
  --neutral-600: #787F85;
}
// 標題間距
.me-40 {
  margin-right: 40px;
}

.me-72 {
  margin-right: 72px;
}

.mb-32 {
  margin-bottom: 32px;
}
.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.secondary-300 {
  color: var(--secondary-300);
}

