.contrib-side-menu{
    width: 312px;
    padding: 36px 16px;
    border: 1px solid #DEE2E6;
    box-shadow: 2px 4px 8px rgba(184, 150, 104, 0.5);
}
.contrib-position-relative{
    position: relative;
}
.contrib-position-abolute{
    position: absolute;
}
.contrib-information-circle{
    position: absolute;
    top: 16px;   
    right: 16px; 
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.contrib-vectorImg{
    width: 24px;
    height: 24px;
}
.contrib-tab-content{
    width: calc(100% - 312px);
}
.contrib-tab-pane{
    max-width: 1032px;
    margin: 0 auto;
}
.contrib-font-size-sm{
    font-size: 14px;
}
.contrib-font-size-xs{
    font-size: 12px;
}
.contrib-input-heigh{
    height: 48px;
}
.form-control::placeholder {
  color: rgba(173, 181, 189, 1);
}
.form-check.form-control {
  padding-left: 40px;
  gap: 8px;
}
.form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 0.375rem;
}
.form-check-label {
  margin-top: 0.25rem;
}
.contrib-delete-btn {
  width: 52px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contrib-delete-btn img {
  width: 28px;
  height: auto;
}
.font-weight-bold{
    font-weight: 700;
}

