<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <title>喵皇御膳房</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 頁首end -->

    <div class="container-fluid p-0">
      <!-- 品牌介紹 -->
      <section class="section-brand">
        <!-- 文字區塊 -->
        <div class="container">
          <div class="row justify-content-lg-end">
            <div class="col-lg-6 col-12">
              <div class="d-flex flex-column align-items-center">
                <img
                  class="mb-lg-11 mb-9"
                  src="../assets/images/index/herotitle_frame_top.svg"
                  alt="herotitle_frame_top"
                />
                <h1 class="fs-2 fs-lg-1 mb-lg-7 mb-3 text-secondary-200">
                  想給主子最好的
                </h1>
                <div
                  class="d-flex mb-lg-7 mb-9 align-items-center justify-content-center"
                >
                  <img src="../assets/images/logotype.svg" alt="logotype" />
                  <h3 class="fs-7 fs-lg-5 text-secondary-200 ms-2">來幫忙</h3>
                </div>
                <img
                  class="mt-lg-7 mb-lg-8 mb-9"
                  src="../assets/images/index/herotitle_frame_bottom.svg"
                  alt="herotitle_frame_bottom"
                />
                <!-- cta btn -->
                <div
                  class="pics d-flex align-items-center justify-content-center mt-lg-8"
                >
                  <p class="text-secondary-200">前往探索</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- 頁尾 -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
