<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <title>喵皇御膳房</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 頁首end -->

    <div class="container-fluid p-0">
      <!-- banner -->
      <section class="section-brand">
        <!-- 文字區塊 -->
        <div class="container">
          <div class="row justify-content-lg-end">
            <div class="col-lg-6 col-12">
              <div class="d-flex flex-column">
                <img
                  class="mb-lg-11 mb-9 align-self-center"
                  src="../assets/images/index/herotitle_frame_top.svg"
                  alt="herotitle_frame_top"
                />
                <h1
                  class="fs-2 fs-lg-1 mb-lg-7 mb-3 text-secondary-200 align-self-center"
                >
                  想給主子最好的
                </h1>
                <div
                  class="d-flex mb-lg-7 mb-9 align-items-center justify-content-center"
                >
                  <img src="../assets/images/logotype.svg" alt="logotype" />
                  <h3 class="fs-7 fs-lg-5 text-secondary-200 ms-2">來幫忙</h3>
                </div>
                <img
                  class="mt-lg-7 mb-lg-8 mb-9 align-self-center"
                  src="../assets/images/index/herotitle_frame_bottom.svg"
                  alt="herotitle_frame_bottom"
                />
                <!-- cta btn -->
                <div
                  class="pics d-flex align-items-center justify-content-center mt-lg-8 align-self-center"
                >
                  <p class="text-secondary-200">前往探索</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 品牌理念 -->
      <section class="section-idea">
        <!-- 背景花紋 -->
        <div class="texture position-relative pt-7">
          <!-- 下方圓弧 -->
          <img
            class="position-absolute bottom-0 start-50 translate-middle-x z-1 w-100"
            src="../assets/images/index/section01_border.png"
            alt="section01_border"
          />
          <!-- 內容 -->
          <div class="container position-relative">
            <!-- 女孩desktop -->
            <div class="col-6">
              <img
                class="girl-hug-desktop position-absolute top-50 translate-middle-y d-none d-lg-block"
                src="../assets/images/index/section01_image.png"
                alt="girl-hug"
              />
            </div>
            <!-- 文字desktop -->
            <div class="d-lg-flex justify-content-end d-none">
              <div class="col-6 idea-container">
                <h2 class="text-center fs-2 text-primary-800 mb-11">
                  為何創立此平台？
                </h2>
                <div class="words-bg position-relative">
                  <picture>
                    <source
                      srcset="../assets/images/index/section01_card_desktop.svg"
                      media="(min-width: 1200px)"
                    />
                    <img
                      src="../assets/images/index/section01_card_mobile.svg"
                      alt="card_desktop"
                    />
                  </picture>
                  <div class="word position-absolute">
                    <p class="text-gray-900 mb-6">
                      當在選購貓咪罐頭與飼料時，飼主常需耗費大量時間比對與閱讀資料，卻時常面臨資訊不完整、內容過時，甚至受到商業偏頗影響的困擾。
                    </p>
                    <p class="text-gray-900 mb-6">
                      市面上缺乏一個真正中立透明、可自由篩選且知識豐富的平台，來協助貓奴們
                      <span class="fw-bold text-primary-500"
                        >「理性挑食」。</span
                      >
                    </p>
                    <p class="text-gray-900">
                      因此我們打造了這個網站，致力於成為一個
                      <span class="fw-bold text-primary-500"
                        >「選品有依據、購買有信心」</span
                      >的貓咪食品資料整合平台。
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="d-flex flex-column align-items-center pt-7 d-lg-none girl-hug-mobile-padding"
            >
              <!-- 文字mobile -->
              <div>
                <h2 class="text-center fs-4 text-primary-800 mb-8">
                  為何創立此平台？
                </h2>
                <div class="word-mobile">
                  <p class="text-gray-900 mb-6">
                    當在選購貓咪罐頭與飼料時，飼主常需耗費大量時間比對與閱讀資料，卻時常面臨資訊不完整、內容過時，甚至受到商業偏頗影響的困擾。
                  </p>
                  <p class="text-gray-900 mb-6">
                    市面上缺乏一個真正中立透明、可自由篩選且知識豐富的平台，來協助貓奴們
                    <span class="fw-bold text-primary-500">「理性挑食」。</span>
                  </p>
                  <p class="text-gray-900">
                    因此我們打造了這個網站，致力於成為一個
                    <span class="fw-bold text-primary-500"
                      >「選品有依據、購買有信心」</span
                    >的貓咪食品資料整合平台。
                  </p>
                </div>
              </div>
              <!-- 女孩mobile -->
              <img
                class="girl-hug-mobile d-lg-none position-absolute bottom-0 start-50 translate-middle-x"
                src="../assets/images/index/section01_image.png"
                alt="girl-hug"
              />
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- 頁尾 -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
